* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.login {
    flex: 5;
    background-color: #ffffff;
    text-align: center;
}

html, body {
  height: 100%;
}

html {
  background: #eee;
}

.box {
  width: 1000px;
  height: 100%;

  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  background: #fbfcee;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: rgb(255, 208, 0);
  width: 1200px;
  height: 1200px;
  margin-left: -600px;
  margin-top: -100px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: yellow;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ff1e00, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 300px;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 50px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
  font-weight: 1000;
}

.additional-text {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 600px;
    width: 100%;
    z-index: 1;
    line-height: 400px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    letter-spacing: 0.4em;
    font-size: 20px; 
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-indent: 0.3em;
    font-weight: 1000;
}
.additional-text p {
    line-height: 1.2;
}


@-webkit-keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

#logo {
    margin-top: 170px;
}

button {
    margin-top: 10px;

    width: 100px;
    height: 60px;
    border: none;
    background-color: #ffffff;
}

#p1{
    color: rgb(150,150,150);
    font-size: 19px;
}

#lname {
    width: 400px;
    height: 35px;
    margin-top: 8px;
    margin-bottom: 12px;
    border-radius: 10px;
}

#check {
    font-size: 17px;
}

#account {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background: linear-gradient(-45deg, #ff0000,#ffaa00);
    color: #ffffff;
    border: none;
    border-radius: 10px;
}

#sign {
    font-size: 13px;
}

.first_name_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.first_name {
    display: flex;
    justify-content: start;
    margin-bottom: -20px;
    margin-top:-20px
}

#first_n{
    margin-top: 10px;
}

label {
    width: 380px;
    font-size: 20px;
}

.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#ffffff;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
}


.line-segment {
    flex-grow: 0;
    flex-shrink: 0;
    width: 170px; 
    height: 1px;
    background-color: black;
    margin: 0 10px;
}

.explain{
    line-height: 10px;
}

.checkbox{
    margin-top: -20px;
}

input{
    border-color: rgb(176, 176, 176);
}

.sns img {
    width: 50px; 
    height: 50px; 
}

